body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header ul {
  display: flex;
  justify-content: space-around;
}

.header ul li {
  list-style: none;
  padding: 15px;
  font-size: 18px;
}

.header {
  background: #ffea00;
}

a {}

.header ul li a {
  color: black;
  font-weight: 500;
}